<div class="blog-post">
  <h2 class="blog-post-title">{{ page.title }}</h2>
  {{ content | remove: '&lt;!--more--&gt;' }}
  <div class="blog-post-meta">
    {{ page.date | date: '%B %d, %Y' }} -
    {% for tag in page.tags %}
      <a href="/tags/#{{ tag }}">{{ tag }}</a>
    {% endfor %}
  </div>
  <div id="callout">
    Got a question or comment? <a href="https://twitter.com/intent/tweet?screen_name=gaelian" data-related="gaelian">Hit me up on Twitter</a>
  </div>
  <ul class="social-media-list">
      <li class="facebook">
        <div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </li>
      <li>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="gaelian">Tweet</a>
      </li>
      <li>
        <div class="g-plusone" data-size="medium"></div>
      </li>
  </ul>
</div><!-- /.blog-post -->

<nav>
  <ul class="pager">
  {% if page.previous.url %}
    <li><a href="{{ page.previous.url }}">Previous</a></li>
  {% endif %}
  {% if page.next.url %}
    <li><a href="{{ page.next.url }}">Next</a></li>
  {% endif %}
  </ul>
</nav>
