$dark-black: #333;
$light-black: #555;
$dark-green: #3a4d1f;
$light-green: #4c7b32;
$anchor-green: #5e8846;
$background-green: #dbe5d6;
$border-green: #c9d7c2;
$off-white: #cdddeb;
$footer-height: 155;

@mixin green-link-style {
    &:link {
      color: $anchor-green;
    }
    &:visited {
      color: $anchor-green;
    }
    &:hover {
      color: $anchor-green;
    }
    &:active {
      color: $anchor-green;
    }
}

html, body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $light-black;
  a {
    &:link {
      color: $anchor-green;
    }
    &:visited {
      color: $dark-green;
    }
    &:hover {
      color: $anchor-green;
    }
    &:active {
      color: $anchor-green;
    }
  }
  pre code {
      word-wrap: normal;
      white-space: pre;
  }
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -#{$footer-height}px; /* The bottom margin is the negative value of the footer's height. */
}

.blog-masthead {
  /* fallback */
  background-color: $light-green;
  background-repeat: repeat-x;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($light-green), to($dark-green));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, $dark-green, $light-green);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, $dark-green, $light-green);

  /* IE 10 */
  background: -ms-linear-gradient(top, $dark-green, $light-green);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, $dark-green, $light-green);
}

.blog-nav {
  a {
    &:link {
      color: $off-white;
    }
    &:visited {
      color: $off-white;
    }
    &:hover {
      color: #fff;
    }
    &:active {
      color: $off-white;
    }
  }
}

@media all and (max-width: 553px) {
  .blog-header {
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
    }
  }
}

@media all and (min-width: 554px) {
  .blog-header {
    img {
      float: left;
      margin: 26px 15px 0 0;
    }

    p.blog-description {
      margin-left: 123px;
    }
  }
}

@media all and (min-width: 553px) and (-webkit-min-device-pixel-ratio: 2)  {
  /* TODO: Set up high res images. */
}

.blog-post {
  p > a, li a {
    text-decoration: underline;
  }
}

h2.blog-post-title {
  > a {
    color: $dark-black;
    &:hover {
        color: $dark-black;
    }
  }
}

.blog-post-meta, .tags {
  > a {
      background-color: $background-green;
      border: 1px solid $border-green;
      padding: 1px 3px 1px 3px;
      @include green-link-style;
  }
}

#callout {
  background-color: $background-green;
  border: 1px solid $border-green;
  text-align: center;
  margin:0 0 20px 0;
  padding: 2px;
}

.tags > a {
  margin: 0 3px 0 3px;
  line-height: 200%;
}

.sidebar-module-inset {
  border: 1px solid $border-green;
  a {
    text-decoration: underline;
    @include green-link-style;
  }
}

.icons {
  a {
    text-decoration: none;
  }
  img {
    margin-right: 14px;
  }
}

.blog-footer {
  border-top: 1px solid $light-green;
}

.blog-footer, .push {
  height: #{$footer-height}px;
}

.social-media-list {
  padding: 0;
  list-style-type: none;
  height:30px;
  li {
    float: left;
    width: 33.3%;
  }
  li.facebook {
    margin-top: -7px;
  }
}
