<!DOCTYPE html>
<html lang="en">
  {% include header.html %}

  <body>

  {% include navigation.html %}

    <div class="container">

    {% include site_title.html %}

      <div class="row">

        <div class="col-sm-8 blog-main">
          {{ content }}

          {% include pagination.html %}

        </div><!-- /.blog-main -->

        {% include sidebar.html %}

      </div><!-- /.row -->

    </div><!-- /.container -->

    {% include footer.html %}

    {% include javascript.html %}
  </body>
</html>
